
#home {
    position: absolute; left: 0;
    top: 0; overflow: hidden;
    height: 100%; width: 100%;


    

    &:after {
        content: '';
        display: block; 
        @include conners-sprite(home);
        width: 250px;
        height: 577px;
        position: absolute; left: 10%; top: 50%; margin-top: -(450px / 2);
    }

    .header__block {

        position: absolute; top: 50%; height: 500px;
        margin-top: -250px; left: 50%; width: 470px;
        margin-left: -(250px / 2); text-align: center;

        z-index: 5;

        h2 {
           @include lavan; font-size: em(60); text-align: center;
        }
        strong {
            display: block;
            font-size: em(30); text-align: center;
            text-transform: uppercase; padding: 10px 0;
        }

        p {
            border-top: dotted 1px $color__b;
            border-bottom: dotted 1px $color__b;
            padding: 20px 0; text-align: center;
            margin: 10px 0;  @include lavan;
            font-size: em(30);
        }
    }
}